
.nuwm-loader_core-fade {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(58, 58, 58, .5)
}

.nuwm-loader_reactor {
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
    position: fixed;
    left: -10em;
    right: -10em;
    bottom: 0;
    top: 0;
    z-index: 10000;
    width: 32rem;
    height: 32rem;
    background-color: #fff;
    border: 3px solid #256589;
    padding: 3rem;
    margin: 0 auto
}

.nuwm-loader {
    height: 3.8rem;
    width: 14.7rem;
    position: relative;
    float: right;
    margin: 1rem 0
}

.nuwm-loader_line {   
    max-width: 26rem;
    margin: 4rem auto;
    clear: both
}

.nuwm-loader-r {
    margin-right: -3.55rem;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.nuwm-loader_part:before {
    content: "";
    top: 47%;
    width: 5rem;
    background-color: #256589;
    height: 3px;
    border: 1px solid #001ca1;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.nuwm-loader_part:nth-child(2n):before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.nuwm-loader_part:nth-child(1):before {
    right: 70%;
    -webkit-animation: heavyload 2s linear infinite .3s;
    animation: heavyload 2s linear infinite .3s
}

.nuwm-loader_part:nth-child(2):before {
    left: 70%;
    -webkit-animation: heavyload2 2s linear infinite .5s;
    animation: heavyload2 2s linear infinite .5s
}

.nuwm-loader_part:nth-child(3):before {
    left: 70%;
    margin-left: -3.65rem;
    -webkit-animation: heavyload3 2s linear infinite .2s;
    animation: heavyload3 2s linear infinite .2s
}

.nuwm-loader_part:nth-child(4):before {
    right: 70%;
    margin-right: -3.65rem;
    -webkit-animation: heavyload4 2s linear infinite .4s;
    animation: heavyload4 2s linear infinite .4s
}

@-webkit-keyframes heavyload {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -80px, 0) rotateZ(45deg);
        transform: translate3d(-100%, -80px, 0) rotateZ(45deg)
    }
    20%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(45deg);
        transform: translate3d(0, 0, 0) rotateZ(45deg)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 80px, 0) rotateZ(45deg);
        transform: translate3d(100%, 80px, 0) rotateZ(45deg)
    }
}

@keyframes heavyload {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -80px, 0) rotateZ(45deg);
        transform: translate3d(-100%, -80px, 0) rotateZ(45deg)
    }
    20%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(45deg);
        transform: translate3d(0, 0, 0) rotateZ(45deg)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 80px, 0) rotateZ(45deg);
        transform: translate3d(100%, 80px, 0) rotateZ(45deg)
    }
}

@-webkit-keyframes heavyload2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, -80px, 0) rotateZ(-45deg);
        transform: translate3d(100%, -80px, 0) rotateZ(-45deg)
    }
    20%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(-45deg);
        transform: translate3d(0, 0, 0) rotateZ(-45deg)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 80px, 0) rotateZ(-45deg);
        transform: translate3d(-100%, 80px, 0) rotateZ(-45deg)
    }
}

@keyframes heavyload2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, -80px, 0) rotateZ(-45deg);
        transform: translate3d(100%, -80px, 0) rotateZ(-45deg)
    }
    20%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(-45deg);
        transform: translate3d(0, 0, 0) rotateZ(-45deg)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 80px, 0) rotateZ(-45deg);
        transform: translate3d(-100%, 80px, 0) rotateZ(-45deg)
    }
}

@-webkit-keyframes heavyload3 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 80px, 0) rotateZ(45deg);
        transform: translate3d(100%, 80px, 0) rotateZ(45deg)
    }
    20%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(45deg);
        transform: translate3d(0, 0, 0) rotateZ(45deg)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -80px, 0) rotateZ(45deg);
        transform: translate3d(-100%, -80px, 0) rotateZ(45deg)
    }
}

@keyframes heavyload3 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 80px, 0) rotateZ(45deg);
        transform: translate3d(100%, 80px, 0) rotateZ(45deg)
    }
    20%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(45deg);
        transform: translate3d(0, 0, 0) rotateZ(45deg)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -80px, 0) rotateZ(45deg);
        transform: translate3d(-100%, -80px, 0) rotateZ(45deg)
    }
}

@-webkit-keyframes heavyload4 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 80px, 0) rotateZ(-45deg);
        transform: translate3d(-100%, 80px, 0) rotateZ(-45deg)
    }
    20%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(-45deg);
        transform: translate3d(0, 0, 0) rotateZ(-45deg)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, -80px, 0) rotateZ(-45deg);
        transform: translate3d(100%, -80px, 0) rotateZ(-45deg)
    }
}

@keyframes heavyload4 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 80px, 0) rotateZ(-45deg);
        transform: translate3d(-100%, 80px, 0) rotateZ(-45deg)
    }
    20%,
    80% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) rotateZ(-45deg);
        transform: translate3d(0, 0, 0) rotateZ(-45deg)
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, -80px, 0) rotateZ(-45deg);
        transform: translate3d(100%, -80px, 0) rotateZ(-45deg)
    }
}
