
        body {
            background-color: lightsteelblue!important;
        }

        color li {
            list-style: none;
        }

        .navbar.sticky-top {
            z-index: 1041;
        }

        .desc-sm {
            font-size: .9em;
            word-wrap: normal;
            word-break: keep-all
        }

        .row.breadcrumb {
            justify-content: center;
        }

        .main {
            text-align: center;
        }

        .desc {
            text-align: center;
        }

        .xm .col-sm:not(:nth-child(1)) {
            border-left: 1px solid black
        }

        .main div[class*=col] {
            align-self: center;
        }

        .row .lv1 {
            border-left: 3px solid var(--green);
        }

        .row .lv2 {
            border-left: 3px solid var(--yellow);
        }

        .row .lv3 {
            border-left: 3px solid var(--blue);
        }

        .row .lv4 {
            border-left: 3px solid var(--red);
        }

        .mxr .col-sm:nth-child(2n) {
            border-left: 1px solid black
        }

        #editor1,
        #editor2 {
            height: 60vh;
        }

        #ex1,
        #ex2,
        #ex3 {
            display: none;
        }

        .interactive ul {
            justify-content: center;
            list-style: none;
            display: flex;flex-wrap: wrap;
        }

        .interactive ul li {
            margin-left: 3em;
        }

        .interactive ul li:before {
            content: "";
            border: 10px solid black;
            border-radius: 100px;
            margin: 3px -25px;
            position: absolute;
        }

        .interactive li.l1:before {
            border-color: var(--green);
        }

        .interactive li.l2:before {
            border-color: var(--yellow)
        }

        .interactive li.l3:before {
            border-color: var(--blue)
        }

        .interactive li.l4:before {
            border-color: var(--red)
        }

        .asside a b {
            position: absolute;
            left: 50%;
        }
        .trace{
            padding: 1em;
            background-color: whitesmoke;
        }
